{$ORIONETA_DOMAIN:orioneta.duckdns.org} {
	encode zstd gzip

	@backend {
		path /api/* /actuator/* /swagger-ui/* /v3/api-docs* /oauth2/* /login/oauth2/* /ws*
	}

	handle @backend {
		reverse_proxy {$BACKEND_UPSTREAM:http://k8s-orioneta-gateways-8aad0b07f9-df2508eb874d85a9.elb.us-east-1.amazonaws.com} {
			header_up -Origin
		}
	}

	handle {
		reverse_proxy orioneta-frontend:80
	}
}
